body {
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .header {
    height: 80px;
    border-bottom: 3px solid goldenrod;
  }

.headerbg {
    height: 80px;
    width: 1920px;
    /* background-image: url(../img/heater.png); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    z-index: -1;
}
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    text-decoration: none;
    color: black;
  }
  
  .agora {
    font-weight: 800;
    color: goldenrod;
  }
  
  .navbar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
  }
  
  .titulo {
    color: goldenrod;
    width: fit-content;
    font-weight: 500;
    font-weight: bolder;
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
  }

  .testediv {
    width: 1920px;
    height: 550px;
    background-color: black;
  }
  