section.slider{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.conteudo{
    width: 400%;
    height: auto;
    display: flex;
}

.conteudo input{
    display: none;
}

.slide-caixa {
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-caixa img{
    width: 100vw;
    height: auto;
}

.passar_manual, .passar_auto {
    position: absolute;
    width: 100%;
    margin-top: 29%;
    display: flex;
    justify-content: center;
}

.passar_manual .btn_manual, 
.passar_auto div {
    border: 1px solid #daa520;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
}

.passar_manual .btn_manual:not(:last-child), 
.passar_auto div:not(:last-child) {
    margin-right: 10px;
}

.passar_manual .btn_manual:hover {
    background-color: #daa520;
}

#slide0:checked ~ .passar_auto .passarbtn0, 
#slide1:checked ~ .passar_auto .passarbtn1, 
#slide2:checked ~ .passar_auto .passarbtn2,
#slide3:checked ~ .passar_auto .passarbtn3, 
#slide4:checked ~ .passar_auto .passarbtn4{
    background-color: #daa520;
}

#slide0:checked ~ .primeiro {
    margin: 0%;
}
#slide1:checked ~ .primeiro {
    margin: -12.5%;
}
#slide2:checked ~ .primeiro {
    margin: -25%;
}
#slide3:checked ~ .primeiro {
    margin: -37.5%;
}
#slide4:checked ~ .primeiro {
    margin: -50%;
}
